templates/linkedin-jobs-automation/daily-analytics-report.json
{
  "name": "LinkedIn Jobs - Daily Analytics Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "daily-scheduler",
      "name": "Daily 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \\n  COUNT(*) as total_jobs,\\n  COUNT(CASE WHEN created_at >= CURRENT_DATE THEN 1 END) as jobs_today,\\n  COUNT(CASE WHEN created_at >= CURRENT_DATE - INTERVAL '7 days' THEN 1 END) as jobs_this_week,\\n  COUNT(CASE WHEN is_applied = true THEN 1 END) as total_applied,\\n  COUNT(CASE WHEN status = 'interview' THEN 1 END) as interviews_scheduled,\\n  COUNT(CASE WHEN status = 'offer' THEN 1 END) as offers_received,\\n  COUNT(CASE WHEN status = 'rejected' THEN 1 END) as rejections,\\n  ROUND(AVG(CASE WHEN is_applied = true THEN 1.0 ELSE 0.0 END) * 100, 2) as application_rate\\nFROM linkedin_jobs\\nWHERE status != 'inactive';",
        "options": {}
      },
      "id": "get-job-stats",
      "name": "Get Job Statistics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-jobs-db",
          "name": "LinkedIn Jobs Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \\n  company,\\n  COUNT(*) as job_count,\\n  COUNT(CASE WHEN is_applied = true THEN 1 END) as applied_count\\nFROM linkedin_jobs\\nWHERE created_at >= CURRENT_DATE - INTERVAL '30 days'\\n  AND status != 'inactive'\\nGROUP BY company\\nORDER BY job_count DESC\\nLIMIT 10;",
        "options": {}
      },
      "id": "get-company-stats",
      "name": "Get Top Companies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-jobs-db",
          "name": "LinkedIn Jobs Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \\n  keywords,\\n  COUNT(*) as job_count,\\n  COUNT(CASE WHEN is_applied = true THEN 1 END) as applied_count,\\n  ROUND(COUNT(CASE WHEN is_applied = true THEN 1 END)::numeric / COUNT(*) * 100, 2) as success_rate\\nFROM linkedin_jobs\\nWHERE created_at >= CURRENT_DATE - INTERVAL '30 days'\\n  AND status != 'inactive'\\nGROUP BY keywords\\nORDER BY job_count DESC\\nLIMIT 5;",
        "options": {}
      },
      "id": "get-keyword-stats",
      "name": "Get Keyword Performance",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-jobs-db",
          "name": "LinkedIn Jobs Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combine all statistics into a comprehensive report\nconst jobStats = $('Get Job Statistics').first().json;\nconst companyStats = $('Get Top Companies').all();\nconst keywordStats = $('Get Keyword Performance').all();\n\n// Create formatted report data\nconst report = {\n  date: new Date().toISOString().split('T')[0],\n  summary: {\n    total_jobs: jobStats.total_jobs || 0,\n    jobs_today: jobStats.jobs_today || 0,\n    jobs_this_week: jobStats.jobs_this_week || 0,\n    total_applied: jobStats.total_applied || 0,\n    interviews_scheduled: jobStats.interviews_scheduled || 0,\n    offers_received: jobStats.offers_received || 0,\n    rejections: jobStats.rejections || 0,\n    application_rate: jobStats.application_rate || 0\n  },\n  top_companies: companyStats.map(company => ({\n    name: company.json.company,\n    job_count: company.json.job_count,\n    applied_count: company.json.applied_count\n  })),\n  keyword_performance: keywordStats.map(keyword => ({\n    keywords: keyword.json.keywords,\n    job_count: keyword.json.job_count,\n    applied_count: keyword.json.applied_count,\n    success_rate: keyword.json.success_rate\n  })),\n  insights: []\n};\n\n// Generate insights\nif (report.summary.jobs_today === 0) {\n  report.insights.push(\"⚠️  No new jobs found today - consider expanding search criteria\");\n}\n\nif (report.summary.application_rate < 10) {\n  report.insights.push(\"📈 Application rate is low - consider being more selective or improving application process\");\n}\n\nif (report.summary.interviews_scheduled > 0) {\n  report.insights.push(`🎉 Great news! You have ${report.summary.interviews_scheduled} interview(s) scheduled`);\n}\n\nif (report.summary.offers_received > 0) {\n  report.insights.push(`🎯 Excellent! You have ${report.summary.offers_received} job offer(s)`);\n}\n\n// Calculate trends\nconst weeklyGrowth = report.summary.jobs_this_week - report.summary.jobs_today;\nif (weeklyGrowth > 50) {\n  report.insights.push(\"📊 High job discovery rate this week - great market activity!\");\n}\n\nreturn [{ json: report }];"
      },
      "id": "generate-report",
      "name": "Generate Analytics Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C1234567890",
          "mode": "name",
          "cachedResultName": "job-analytics"
        },
        "text": "=📊 **Daily LinkedIn Jobs Analytics Report**\\n_{{ DateTime.now().toFormat('MMMM dd, yyyy') }}_\\n\\n**📈 Job Discovery Summary:**\\n• Total Jobs Tracked: {{ $json.summary.total_jobs }}\\n• New Jobs Today: {{ $json.summary.jobs_today }}\\n• Jobs This Week: {{ $json.summary.jobs_this_week }}\\n\\n**🎯 Application Progress:**\\n• Total Applied: {{ $json.summary.total_applied }}\\n• Application Rate: {{ $json.summary.application_rate }}%\\n• Interviews Scheduled: {{ $json.summary.interviews_scheduled }}\\n• Offers Received: {{ $json.summary.offers_received }}\\n• Rejections: {{ $json.summary.rejections }}\\n\\n**🏢 Top Companies (Last 30 Days):**\\n{{ $json.top_companies.slice(0, 5).map(c => `• ${c.name}: ${c.job_count} jobs (${c.applied_count} applied)`).join('\\n') }}\\n\\n**🔍 Keyword Performance:**\\n{{ $json.keyword_performance.slice(0, 3).map(k => `• \"${k.keywords}\": ${k.job_count} jobs, ${k.success_rate}% success rate`).join('\\n') }}\\n\\n**💡 Insights:**\\n{{ $json.insights.map(insight => insight).join('\\n') }}\\n\\n---\\n_Automated report generated by LinkedIn Jobs Analytics workflow_",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "send-slack-report",
      "name": "Send Slack Analytics Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "job-analytics@yourcompany.com",
        "toEmail": "your-email@yourcompany.com",
        "subject": "=Daily LinkedIn Jobs Analytics Report - {{ DateTime.now().toFormat('MMM dd, yyyy') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\\n<html>\\n<head>\\n    <meta charset=\\\"UTF-8\\\">\\n    <title>LinkedIn Jobs Analytics Report</title>\\n    <style>\\n        body { font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; background: #f5f5f5; }\\n        .container { max-width: 800px; margin: 20px auto; background: white; border-radius: 8px; overflow: hidden; box-shadow: 0 4px 6px rgba(0,0,0,0.1); }\\n        .header { background: linear-gradient(135deg, #0077b5, #004182); color: white; padding: 30px; text-align: center; }\\n        .header h1 { margin: 0; font-size: 24px; }\\n        .header p { margin: 10px 0 0 0; opacity: 0.9; }\\n        .content { padding: 30px; }\\n        .stats-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; margin-bottom: 30px; }\\n        .stat-card { background: #f8f9fa; border: 1px solid #e9ecef; border-radius: 8px; padding: 20px; text-align: center; }\\n        .stat-value { font-size: 32px; font-weight: bold; color: #0077b5; margin-bottom: 5px; }\\n        .stat-label { color: #666; font-size: 14px; }\\n        .section { margin-bottom: 30px; }\\n        .section h2 { color: #0077b5; border-bottom: 2px solid #0077b5; padding-bottom: 5px; }\\n        .company-list, .keyword-list { list-style: none; padding: 0; }\\n        .company-list li, .keyword-list li { background: #f8f9fa; margin: 8px 0; padding: 12px; border-radius: 5px; display: flex; justify-content: space-between; }\\n        .insights { background: #e7f3ff; border-left: 4px solid #0077b5; padding: 15px; margin: 20px 0; }\\n        .insights ul { margin: 0; padding-left: 20px; }\\n        .footer { background: #f8f9fa; padding: 20px; text-align: center; font-size: 12px; color: #666; }\\n        .progress-bar { background: #e9ecef; border-radius: 10px; height: 8px; margin: 5px 0; }\\n        .progress-fill { background: #0077b5; height: 100%; border-radius: 10px; transition: width 0.3s ease; }\\n    </style>\\n</head>\\n<body>\\n    <div class=\\\"container\\\">\\n        <div class=\\\"header\\\">\\n            <h1>📊 LinkedIn Jobs Analytics Report</h1>\\n            <p>{{ DateTime.now().toFormat('EEEE, MMMM dd, yyyy') }}</p>\\n        </div>\\n        \\n        <div class=\\\"content\\\">\\n            <div class=\\\"stats-grid\\\">\\n                <div class=\\\"stat-card\\\">\\n                    <div class=\\\"stat-value\\\">{{ $json.summary.total_jobs }}</div>\\n                    <div class=\\\"stat-label\\\">Total Jobs Tracked</div>\\n                </div>\\n                <div class=\\\"stat-card\\\">\\n                    <div class=\\\"stat-value\\\">{{ $json.summary.jobs_today }}</div>\\n                    <div class=\\\"stat-label\\\">New Jobs Today</div>\\n                </div>\\n                <div class=\\\"stat-card\\\">\\n                    <div class=\\\"stat-value\\\">{{ $json.summary.total_applied }}</div>\\n                    <div class=\\\"stat-label\\\">Applications Sent</div>\\n                </div>\\n                <div class=\\\"stat-card\\\">\\n                    <div class=\\\"stat-value\\\">{{ $json.summary.application_rate }}%</div>\\n                    <div class=\\\"stat-label\\\">Application Rate</div>\\n                </div>\\n            </div>\\n            \\n            <div class=\\\"section\\\">\\n                <h2>🎯 Application Pipeline</h2>\\n                <div class=\\\"stats-grid\\\">\\n                    <div class=\\\"stat-card\\\">\\n                        <div class=\\\"stat-value\\\">{{ $json.summary.interviews_scheduled }}</div>\\n                        <div class=\\\"stat-label\\\">Interviews Scheduled</div>\\n                    </div>\\n                    <div class=\\\"stat-card\\\">\\n                        <div class=\\\"stat-value\\\">{{ $json.summary.offers_received }}</div>\\n                        <div class=\\\"stat-label\\\">Offers Received</div>\\n                    </div>\\n                </div>\\n            </div>\\n            \\n            <div class=\\\"section\\\">\\n                <h2>🏢 Top Companies (Last 30 Days)</h2>\\n                <ul class=\\\"company-list\\\">\\n                    {{ $json.top_companies.slice(0, 5).map(c => `<li><strong>${c.name}</strong> <span>${c.job_count} jobs • ${c.applied_count} applied</span></li>`).join('') }}\\n                </ul>\\n            </div>\\n            \\n            <div class=\\\"section\\\">\\n                <h2>🔍 Keyword Performance</h2>\\n                <ul class=\\\"keyword-list\\\">\\n                    {{ $json.keyword_performance.slice(0, 3).map(k => `<li><strong>\\\"${k.keywords}\\\"</strong> <span>${k.job_count} jobs • ${k.success_rate}% success rate</span></li>`).join('') }}\\n                </ul>\\n            </div>\\n            \\n            <div class=\\\"insights\\\">\\n                <h3>💡 Key Insights</h3>\\n                <ul>\\n                    {{ $json.insights.map(insight => `<li>${insight}</li>`).join('') }}\\n                </ul>\\n            </div>\\n        </div>\\n        \\n        <div class=\\\"footer\\\">\\n            <p>This report was automatically generated by your LinkedIn Jobs Analytics workflow.</p>\\n            <p>Next report will be sent tomorrow at 9:00 AM</p>\\n        </div>\\n    </div>\\n</body>\\n</html>",
        "options": {}
      },
      "id": "send-email-report",
      "name": "Send Email Analytics Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        900,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Daily 9 AM Trigger": {
      "main": [
        [
          {
            "node": "Get Job Statistics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Top Companies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Keyword Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Statistics": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Companies": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Keyword Performance": {
      "main": [
        [
          {
            "node": "Generate Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Analytics Report": {
      "main": [
        [
          {
            "node": "Send Slack Analytics Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Analytics Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCreatedBy": "n8n-templates",
    "description": "Daily analytics report that provides insights into job search performance, application rates, top companies, and keyword effectiveness.",
    "categories": ["Analytics", "Reporting", "Job Search", "Automation"]
  },
  "id": "linkedin-jobs-daily-analytics",
  "tags": [
    "analytics",
    "reporting",
    "job-search",
    "daily-report",
    "linkedin"
  ]
}
